.jumbotron {
    margin-top: 10vh;
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.display-3 {
    background-color: rgba(0, 0, 0, 0.548);
    width: 50%;
    color: #fff;
    padding: 2%;
    text-align: center;
    border-radius: 3px;
}

.product-title {
    margin: 5%;
}

.product-img {
    border-radius: 5px;
    width: 30vw;
}

.btn-secondary {
    margin-top: 5%;
    margin-right: 30%;
    background-color:  #ffc400;
    border: 1px solid #bb8f00;
    color: #000;
}

.btn-secondary:hover {
    background-color: #d4a301;
    border-color:#9e7900;
    color: #eee;
}

.col-md-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desconto {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 10px;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col-md-auto {
    margin: 5%;
}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-family: "Sofia";
    font-size: 30px;
}

@media (max-width: 991px) {
    .display-3 {
        font-size: 320%;
    }

    .col-md-auto {
        margin: 2%;
    }

    .btn-secondary {
        margin-right: 10%;
    }
}

@media (max-width: 767px) {
    .display-3 {
        font-size: 260%;
        padding: 1%;
    }

    .col-md-auto {
        margin: 2%;
    }
}

@media (max-width: 585px) {
    .display-3 {
        font-size: 230%;
        padding: 1%;
    }

    .col-md-auto {
        margin: 2%;
    }
}

@media (max-width: 497px) {
    .display-3 {
        font-size: 200%;
        padding: 0.8%;
    }

    .col-md-auto {
        margin: 1%;
    }
}

@media (max-width: 437px) {
    .display-3 {
        font-size: 170%;
        padding: 0.8%;
    }

    .col-md-auto {
        margin: 0.8%;
    }
}

@media (max-width: 380px) {
    .display-3 {
        font-size: 140%;
        padding: 0.8%;
    }

    .desconto {
        font-size: 1.5rem;
    }

    .btn-secondary {
        margin-right: 20%;
    }

    .col-md-auto {
        margin: 0.5%;
    }

    .container {
        padding: 40px;
    }
}
