header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-family: "Sofia";
    font-size: 30px;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #212427;
    background-color: #30383b;
}
