@font-face {
    font-family: "Montserrat";
    src: url("../../assets/font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Sofia";
    src: url("../../assets/font/Sofia/Sofia-Regular.ttf");
}

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

::selection {
    background-color: rgba(255, 204, 35, 0.5);
}

body {
    background-color: #f8f8f8;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}
