@font-face {
    font-family: "Montserrat";
    src: url("../../font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Sofia";
    src: url("../../font/Sofia/Sofia-Regular.ttf");
}

* {
    font-family: "Montserrat";
}

body {
    background-color: #f8f8f8;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}
