.container-fluid {
    padding: 0;
}

#mainSlider .carousel-caption {
    top: 30%;
}

main {
    margin-top: 10vh;
}

#mainSlider .carousel-caption h2 {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 3px;
    padding: 2%;
}

.main-btn {
    background-color: #ffc400;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    width: 20rem;
    height: 6rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 3px solid transparent;
    font-size: 1.8rem;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    border-color: #ffc400;
}

.carousel-indicators .active {
    background-color:#ffc400;
}

.about-title {
    color: #333;
    margin: 0 0 3rem 0;
    font-size: 3rem;
    text-align: center;
}

.about-title::after {
    content: "";
    border-bottom: 2px solid #333;
    width: 30%;
    position: absolute;
    top: 6rem;
    left: 35%;
}

.contact-tile {
    font-weight: bold;
    color:  #48b6d4;
    font-size: 1.6rem;
}

.social-tile {
    font-size: 1.6rem;
    margin-left: .5rem;
}

.social-icon {
    font-size: 2rem !important;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-instagram {
    background: linear-gradient(80deg, #fde910, rgb(194, 17, 170));
    border-radius: 7px;
}

.fa-pinterest-square {
    color: #c8232c;
}
