.product-container {
    box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, 0.05),
                -5rem -5rem 10rem rgba(0, 0, 0, 0.05);
}

.nome-produto {
    border: none;
    border-bottom: solid 2px;
    font-weight: bold;
    margin: .8rem;
    font-size: 2.6rem;
}

.imagem {
    object-fit: cover;
    max-width: 250px;
    max-height: 200px;
    border-radius: 2px;
}

.desc {
    margin: 1.6rem;
    font-size: 1.6rem;
}

.preco {
    font-weight: bold;
    font-size: 2rem;
}

.buy-button {
    margin-top: 2rem;
    font-size: 1.6rem;
    background-color: #00ff62;
    color: #000;
    border: 1px solid #00bb5d;
    border-radius: 2px;
    text-transform: uppercase;
    padding: .5rem;
}

.buy-button:hover {
    background-color: #01d447;
    border-color:#009e22;
}

.msg-home {
    border: none;
    border-bottom: solid rgb(238, 22, 94);
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

@media (max-width: 720px) {
    .buy-button {
        font-size: 3rem;
        padding: 1rem;
    }

    .desc {
        font-size: 2rem;
    }
    
    .preco {
        font-size: 2.4rem;
    }
}
