.jumbotron {
    margin-top: 10vh;
    background-image: url("../../assets/img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.display-3 {
    background-color: rgba(0, 0, 0, 0.548);
    width: 50%;
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 3px;
    font-size: 7rem;
}

.col-md-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

@media (max-width: 991px) {
    .display-3 {
        font-size: 320%;
    }

    .col-md-auto {
        margin: 2%;
    }
}

@media (max-width: 767px) {
    .display-3 {
        font-size: 260%;
        padding: 1.8rem 1.8rem;
    }

    .col-md-auto {
        margin: 2%;
    }
}

@media (max-width: 585px) {
    .display-3 {
        font-size: 230%;
    }

    .col-md-auto {
        margin: 2%;
    }
}

@media (max-width: 497px) {
    .display-3 {
        font-size: 200%;
        padding: 1.4rem 1.4rem;
    }

    .col-md-auto {
        margin: 1%;
    }
}

@media (max-width: 437px) {
    .display-3 {
        font-size: 170%;
    }

    .col-md-auto {
        margin: 0.8%;
    }
}

@media (max-width: 380px) {
    .display-3 {
        font-size: 140%;
    }

    .col-md-auto {
        margin: 0.5%;
    }

    .container {
        padding: 40px;
    }
}
